<html xmlns:th ="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>인덱스 </title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<table>
    <tbody>
        <tr>
            <th>table</th>
            <td>
                내맘이댜
            </td>
        </tr>
        <tr>
                <th> 타임리프</th>
                <td th:text="'안녕하세요.' + ${ data }"></td>
        </tr>
        <tr>
            <th> 데이터</th>
            <td id="userId"></td>
        </tr>

    </tbody>
    <h2>test 코드는?</h2>
    <h3 th:text="${@testConst.TEST_CODE}"></h3>
</table>

<script>

    $.get("http://localhost:8080/user", function (data){
        console.log(data);
    })

</script>
</body>
</html>
